* {
  margin: 0;
  padding: 0;
  font-family: SF display, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  width: 63%;
  margin-left: auto;
  margin-right: auto;
}

.img-div-search {
  display: flex;
}
.img-div-search img {
  margin-left: -85px;
}

.header-logo {
  width: 134px;
  height: 18px;
}

.header .divider {
  border-left: 1px solid rgb(225, 225, 225);
  height: 18px;
  margin-left: 29.55px;
}

.search {
  margin-left: 24px;
  display: flex;
  align-items: center;
}

.search input {
  background-color: transparent;
  outline: none;
  border: none;
}

.search input:focus {
  outline: none;
  border: none;
}
.search-icons {
  color: gray;
  margin-right: 10px;
}

@media screen and (max-width: 1599px) {
  .social-icons {
    display: none;
  }
}

.social-icons a {
  opacity: 30%;
  margin-left: 11.17px;
}

.header-container-right {
  margin-left: 242px;
}

.header-container-right .daraagiin-niitlel {
  font-size: 11.6px;
  color: rgb(120, 120, 120);
}

.header-container-right .techworm {
  color: white;
  font-size: 12px;
  font-weight: 400px;
}

@media screen and (max-width: 888px) {
  .techworm {
    display: none;
  }
}

.chip {
  color: #ffff;
  background-color: rgba(255, 255, 255, 0.5);
  margin-left: 12.64px;
  padding: 13px 29.2px;
  border-radius: 30px;
  font-size: 11.8px;
  box-shadow: 7px 4px 50px -4px rgba(209, 209, 209, 0.6);
}

.chip:hover {
  cursor: pointer;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgb(0, 0, 0)),
    url("https://unread.today/files/48/c8f20883c72cb7cf6c5e10f9313f8c87.jpg");

  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 95vh;
}

.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 61px;
  padding-top: 121px;
}

.hero-content .hero-content-left {
  background-image: url("https://unread.today/files/007afc64-288a-4208-b9d7-3eda84011c1d/934b24cd1ba5058d34b1c78276057647.jpeg");
  height: 446px;
  width: 28%;
  background-position: center;
  border-radius: 20px;
  background-size: 180%;
  background-repeat: no-repeat;
  transition: 0.5s;
}

@media screen and (max-width: 768px) {
  .hero-content-left {
    display: none;
  }
}

.hero-content-left:hover {
  background-size: 200%;
  transition: 0.5s;
}

.hero-content-right {
  color: #ffff;
  font-size: 35px;
}

.hero-content-right h1 {
  -webkit-text-stroke: 1px white;
  color: transparent;
}

.hero-content-right .blink {
  font-size: 14.1px;
  color: #0078f6;
  font-weight: 700;
  animation-name: blinker;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}

@keyframes blinker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.author-photo {
  width: 36px;
  height: 36px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  padding: 3px;
}
.author-content {
  display: flex;
  font-size: 11.8px;
  margin-top: 54px;
}
.author-name {
  font-size: 12px;
  font-weight: 700;
  opacity: 0.5;
}
.author-text {
  margin-left: 7px;
  margin-top: 7px;
}

.listed-images-background {
  background-color: black;
  height: 327px;
  color: #ffff;
  position: relative;
}
.scroll-container {
  display: flex;
  max-width: 80%;
  gap: 20px;
  overflow-x: scroll;
  height: 500px;
  margin: 0 auto;
  padding: 30px;
}
.scroll-container::-webkit-scrollbar {
  display: none;
}

.image-title {
  color: #ffff;
  font-weight: 500;
  margin-top: 250px;
  margin-left: 300px;
}

.listed-image-foreign {
  background-image: linear-gradient(rgba(0, 0, 0, 0.01), rgb(0, 0, 0)),
    url("https://unread.today/files/dca82359-3f6e-4c03-99ef-ef493c68a7aa/fdb77197acfadde2f4e55871d72635f9_square.jpg");
  min-width: 293.79px;
  height: 433.91px;
  background-position: center;
  border-radius: 9px;
  transition: 0.3s;
}

.listed-image-foreign:hover {
  transform: scale(1.1);
  transition: 0.3s;
  cursor: pointer;
}

.listed-image-alphabet {
  background-image: linear-gradient(rgba(0, 0, 0, 0.01), rgb(0, 0, 0)),
    url("https://unread.today/files/fb0f77dd-ca16-4803-8f17-83cccdc85cb1/4d22907ce24bb003211938e803c94e75_square.jpg");
  min-width: 293.79px;
  height: 433.91px;
  background-position: center;
  border-radius: 9px;
  cursor: pointer;
  transition: 0.3s;
}

.listed-image-alphabet:hover {
  transform: scale(1.1);
  transition: 0.3s;
  cursor: pointer;
}

.listed-image-tech {
  background-image: linear-gradient(rgba(0, 0, 0, 0.01), rgb(0, 0, 0)),
    url("https://unread.today/files/007afc64-288a-4208-b9d7-3eda84011c1d/c32087273f9380ea1e5d1b6fcbabb98a_square.jpg");
  min-width: 293.79px;
  height: 433.91px;
  background-position: center;
  border-radius: 9px;
  transition: 0.3s;
}

.listed-image-tech:hover {
  transform: scale(1.1);
  transition: 0.3s;
  cursor: pointer;
}

.listed-image-newspaper {
  background-image: linear-gradient(rgba(0, 0, 0, 0.01), rgb(0, 0, 0)),
    url("https://unread.today/files/ab36d712-71ff-4ad9-896e-6ebb29ee892b/25ff02cc9e29ceec81d0895c1e680a05_square.jpg");
  min-width: 293.79px;
  height: 433.91px;
  background-position: center;
  border-radius: 9px;
  transition: 0.3s;
}

.listed-image-newspaper:hover {
  transform: scale(1.1);
  transition: 0.3s;
  cursor: pointer;
}

.listed-image-ios {
  background-image: linear-gradient(rgba(0, 0, 0, 0.01), rgb(0, 0, 0)),
    url("https://unread.today/files/007afc64-288a-4208-b9d7-3eda84011c1d/2a7768a3887baa7c457da0c416e055b3_square.jpg");
  min-width: 293.79px;
  height: 433.91px;
  background-position: center;
  border-radius: 9px;
  transition: 0.3s;
}

.listed-image-ios:hover {
  transform: scale(1.1);
  transition: 0.3s;
  cursor: pointer;
}

.listed-image-text {
  margin-top: 300px;
  font-weight: bold;
  margin-left: 20px;
  position: relative;
}

.blue-button {
  background-color: #0078f6;
  top: 100px;
  position: absolute;
  font-size: 10px;
  font-weight: 500;
  padding: 6px 11px;
  border-radius: 20px;
}

.content {
  width: 63%;
  height: 1600px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  padding-top: 200px;
  max-width: 1116px;
}

.content-container {
  width: 80%;
  height: 183px;
  display: flex;
  justify-content: space-around;
  background-color: #ffff;
  border-radius: 27px;
  box-shadow: 0px 0px 50px 4px rgba(209, 209, 209, 0.3);
}
.content-container-box {
  transition: all 0.5s ease;
}
.content-container-box:hover {
  transform: translateY(-8px);
}

.content-container-for-hover:hover .content-container {
  transition: 0.2s;
  box-shadow: 0px 20px 50px 4px rgba(68, 65, 65, 0.3);
}

.author-content-name {
  color: black;
  font-weight: 500;
  margin-bottom: 5px;
}

.content-container-text {
  margin-top: 32px;
  margin-left: -70px;
  width: 429px;
}

.content-main-text {
  font-size: 21.1px;
  font-weight: 700;
  transition: 0.2s;
}

.content-main-text:hover {
  transition: 0.2s;
  color: #3399ff;
}

.content-container-box-right {
  align-self: end;
  width: 70%;
  transition: all 0.5s ease;
}

.content-container-box-right > .content-container {
  width: 100%;
}

.content-container-box-right:hover {
  transform: translateY(-8px);
}

.author-of-content-two {
  display: flex;
  font-size: 11.8px;
  margin-top: 54px;
  flex-direction: row-reverse;
}

.author-of-content-two .author-content-name {
  text-align: end;
}

.author-of-content-four {
  display: flex;
  font-size: 11.8px;
  margin-top: 54px;
  flex-direction: row-reverse;
}

.author-of-content-four .author-name {
  text-align: end;
}

.dot {
  margin-left: 5px;
  margin-top: 30px;
}
.dot-title {
  color: #0078f6;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 12.4px;
}
.author-content-photo {
  margin-top: 20px;
}

.content-container-box-four .author-content-name {
  color: black;
  text-align: end;
  font-weight: 500;
}

.content-container-box-two .author-text {
  margin-right: 12.08px;
}

.content-container-box-four .author-text {
  margin-right: 12.08px;
}

.author-date {
  color: #8888;
  font-weight: 500;
  margin-bottom: 20px;
}

/* started article from here <------------------ */
article {
  width: 60%;
  max-width: 1116px;
  margin-left: auto;
  margin-right: auto;
}

.article-date-container {
  width: 101%;
  height: 61px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.article-date-box-first {
  width: 40%;
  height: 62px;
  border-bottom: 2px solid #3399ff;
  display: flex;
  align-items: center;
}

.article-date-box-first:hover {
  border-bottom: 2px solid #0078f6;
}

.article-date-box-second {
  width: 40%;
  height: 62px;
  border-bottom: 2px solid #e6e6e6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.article-date-box-second:hover {
  border-bottom: 2px solid #0078f6;
}

.article-date-box-third {
  width: 40%;
  height: 62px;
  border-bottom: 2px solid #e6e6e6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.article-date-box-third:hover {
  border-bottom: 2px solid #0078f6;
}

.article-date-box-fourth {
  width: 40%;
  height: 62px;
  border-bottom: 2px solid #e6e6e6;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #888888;
  font-size: 12.6px;
  font-weight: 400;
}

.article-date-box-fourth:hover {
  border-bottom: 2px solid #0078f6;
}

.title-blue {
  color: #0078f6;
  font-size: 12.6px;
  font-weight: 700;
}

.title {
  color: #888888;
  font-size: 12.6px;
  font-weight: 500;
  padding: 60px 60px 60px 60px;
}

.title:hover {
  color: #3399ff;
  font-weight: 600;
}

.title-fourth {
  padding-left: 180px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.title-fourth:hover {
  color: #3399ff;
  font-weight: 600;
}

.grid-box-first {
  display: grid;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  grid-template-columns: 1fr 1fr;
  gap: 19px;
  margin-top: 56px;
}

.grid-box-first img:hover {
  transition: 0.4s;
  transform: translateY(-8px);
  box-shadow: 0px 0px 50px 10px rgba(20, 19, 19, 0.3);
  border-radius: 5%;
}

.grid-box-first img {
  transition: 0.4s;
}

.top-left {
  display: grid;
  grid-template-columns: 264.75px 264.75px;
  gap: 19px;
}

.team {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.internship {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.top-right {
  display: grid;
  grid-template-columns: 264.75px 264.75px;
  gap: 19px;
}

.grid-box-second {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 34.99px;
  gap: 19px;
}

@media screen and (max-width: 1469px) {
  .grid-box-second {
    grid-template-columns: 1fr;
  }
}

.grid-box-second img {
  transition: 0.4s;
}

.grid-box-second img:hover {
  transition: 0.4s;
  transform: translateY(-8px);
  box-shadow: 0px 0px 50px 10px rgba(20, 19, 19, 0.3);
  border-radius: 5%;
}

/* article finished here <---------- */
.footer {
  background-color: black;
  color: #ffff;
  height: 100%;
}
.footer-top {
  height: 82px;
  border-radius: 0 0 36px 36px;
  background-color: #fafafa;
  margin-top: 62px;
}

.footer-container {
  width: 66.9%;
  height: 543px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.footer-content-left {
  height: 403px;
  width: 466.4px;
  margin-top: 75px;
}

.big-button1 {
  background-image: url(pictures/btn-black.png);
  background-size: cover;
  width: 323px;
  height: 90px;
  display: flex;
  color: #ffff;
  align-items: center;
  position: relative;
  border-radius: 18px;
  transition: 0.4s;
}

.big-button1:hover .active-button {
  border: 9px solid #16304f;
  background-color: #3399ff;
  transition: 0.4s;
  transform: translate(8px);
}

.big-button1:hover {
  transition: 0.4s;
  transform: translate(8px);
}

.footer-content-left .footer-logo {
  width: 134px;
  height: 18px;

  margin-bottom: 49px;
}

.text-container {
  margin-left: 28px;
}

.header-text {
  opacity: 0.3;
  font-size: 11.6px;
  font-weight: 400;
  margin-bottom: 5px;
}

.main-text {
  font-size: 13.4px;
  font-weight: 500;
}

.active-button {
  height: 36px;
  width: 36px;
  border-radius: 50px;
  background-color: black;
  text-align: center;
  align-content: center;
  font-size: 19px;
  position: absolute;
  right: 30px;
}

.big-button2 {
  background-image: url(pictures/btn-black.png);
  background-size: cover;
  width: 323px;
  height: 90px;
  display: flex;
  color: #ffff;
  align-items: center;
  position: relative;
  margin-top: 28px;
  border-radius: 18px;
  transition: 0.4s;
}

.big-button2:hover {
  transition: 0.4s;
  transform: translate(8px);
}
.big-button2:hover .active-button {
  border: 9px solid #16304f;
  background-color: #3399ff;
  transition: 0.4s;
  transform: translate(8px);
}
.store-button {
  display: flex;
  margin-top: 56px;
  gap: 14.55px;
}

.footer-content-right {
  width: 650px;
  height: 403px;
  margin-top: 75px;
}

.nav-text {
  text-decoration: none;
  color: white;
  font-size: 13.4px;
  font-weight: 500;
  margin-left: 5px;
}

.footer-content-right p {
  font-size: 10px;
  font-weight: 400;
  opacity: 0.5;
  max-width: 400px;
  margin-top: 45px;
}

.listed-texts {
  width: 100%;
  height: 264px;
  display: flex;
  margin-top: 46px;
}

.listed-texts a:hover {
  font-style: bold;
  transform: translateX(8px);
  transition: 0.2s;
  opacity: 1;
}

.listed-texts .first {
  width: 60%;
  height: 264px;
}

.listed-texts .second {
  width: 60%;
  height: 264px;
}

.listed-texts .third {
  width: 60%;
  height: 264px;
}

.first-title {
  margin-bottom: 25px;
  color: #0078f6;
  font-size: 14.1px;
  font-weight: 700;
}
.first a {
  text-decoration: none;
  columns: 50x;
  display: block;
  color: white;
  opacity: 0.5;
  font-size: 11.6px;
  margin-top: 15px;
  transition: 0.2s;
}

.third span {
  columns: 50x;
  display: block;
  color: white;
  opacity: 0.5;
  font-size: 11.6px;
  margin-top: 15px;
}

.social-bar {
  width: 63%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.social-bar svg {
  height: 32px;
  fill: white;
  opacity: 0.2;
}

.footer-facebook:hover {
  fill: #475993;
  opacity: 1;
}

.footer-twitter:hover {
  fill: #1da2f2;
  opacity: 1;
}

.footer-instagram:hover {
  fill: url(#linear-gradient);
  opacity: 1;
}

.footer-linkedin:hover {
  fill: #0077b5;
  opacity: 1;
}

.footer-youtube:hover {
  fill: #ff2500;
  opacity: 1;
}

.footer-soundcloud:hover {
  fill: #f50;
  opacity: 1;
}

.gittested {
  color: #0077b5;
}

@media screen and (max-width: 768) {
  .img-div-search {
    display: none;
  }
}

@media screen and (max-width: 1470px) {
  .social-bar svg {
    width: 2vw;
  }
  .social-bar {
    padding: 0;
  }
}

@media screen and (max-width: 1432px) {
  .header {
    width: 100%;
  }
}

@media screen and (max-width: 1432px) {
  .header-container-right {
    padding: 0px;
  }
}

@media screen and (max-width: 1432px) {
  .header-container-right {
    margin-left: 0px;
  }
}

@media screen and (max-width: 768px) {
  .header-container-right {
    display: none;
  }
}

@media screen and (max-width: 990px) {
  .listed-texts {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 990px) {
  .social-bar {
    margin-top: 300px;
  }
}

@media screen and (max-width: 990px) {
  .third span {
    display: inline;
  }
  .listed-texts .third {
    width: 200%;
    margin-top: 50px;
  }
}

@media screen and (max-width: 880px) {
  .listed-texts .third {
    margin-top: 10px;
  }
}

@media screen and (max-width: 1469px) {
  .grid-box-first {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 880px) {
  .first a {
    margin: 0;
  }
}
