* {
  margin: 0;
  padding: 0;
  font-family: Inter;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  width: 1425px;
  margin-left: auto;
  margin-right: auto;
}

.img-div-search {
  display: flex;
}
.img-div-search img {
  margin-left: -85px;
}

.header .header-logo {
  width: 134px;
  height: 18px;
}

.header .divider {
  border-left: 1px solid rgb(225, 225, 225);
  height: 18px;
  margin-left: 29.55px;
}

.search {
  margin-left: 24px;
  display: flex;
  align-items: center;
}

.search input {
  background-color: transparent;
  outline: none;
  border: none;
}

.search input:focus {
  outline: none;
  border: none;
}
.search-icon {
  color: gray;
  margin-right: 10px;
}

.social-icons a {
  opacity: 30%;
  margin-left: 11.17px;
}

.header-container-right {
  margin-left: 242px;
}

.header-container-right .daraagiin-niitlel {
  font-size: 11.6px;
  color: rgb(120, 120, 120);
}

.header-container-right .techworm {
  color: white;
  font-size: 12px;
  font-weight: 400px;
}

.chip {
  color: #ffff;
  background-color: rgba(255, 255, 255, 0.5);
  margin-left: 12.64px;
  padding: 13px 29.2px;
  border-radius: 30px;
  font-size: 11.8px;
  box-shadow: 7px 4px 50px -4px rgba(209, 209, 209, 0.6);
}

.chip:hover {
  cursor: pointer;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgb(0, 0, 0)),
    url("https://unread.today/files/48/c8f20883c72cb7cf6c5e10f9313f8c87.jpg");
  height: 100vh;
  max-height: 1000px;
  background-size: 100%;
  background-position-y: 120%;
  background-repeat: no-repeat;
}

.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 61px;
  padding-top: 121px;
}

.hero-content .hero-content-left {
  background-image: url("https://unread.today/files/007afc64-288a-4208-b9d7-3eda84011c1d/934b24cd1ba5058d34b1c78276057647.jpeg");
  height: 446.4px;
  width: 446.4px;
  background-position: center;
  border-radius: 20px;
  background-size: 180%;
  background-repeat: no-repeat;
}

.hero-content-left:hover {
  background-size: 200%;
  transition: 0.5s;
}

.hero-content-right {
  color: #ffff;
  font-size: 35px;
}

.hero-content-right h1 {
  -webkit-text-stroke: 1px white;
  color: transparent;
}

.author-photo {
  width: 36px;
  height: 36px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  padding: 3px;
}
.author-content {
  display: flex;
  font-size: 11.8px;
  margin-top: 54px;
}
.author-name {
  font-size: 12px;
  font-weight: 700;
  opacity: 0.5;
}
.author-text {
  margin-left: 7px;
  margin-top: 7px;
}

.listed-images-background {
  background-color: black;
  height: 327px;
  color: #ffff;
  display: flex;
  justify-content: center;
  gap: 28px;
  margin-bottom: 209px;
}

.image-title {
  color: #ffff;
  font-weight: 500;
  margin-top: 250px;
  margin-left: 300px;
}

.listed-image-foreign {
  background-image: linear-gradient(rgba(0, 0, 0, 0.01), rgb(0, 0, 0)),
    url("https://unread.today/files/dca82359-3f6e-4c03-99ef-ef493c68a7aa/fdb77197acfadde2f4e55871d72635f9_square.jpg");
  width: 293.79px;
  height: 433.91px;
  background-position: center;
  border-radius: 9px;
}

.listed-image-foreign:hover {
  transform: scale(1.1);
  transition: 0.3s;
  cursor: pointer;
}

.listed-image-alphabet {
  background-image: linear-gradient(rgba(0, 0, 0, 0.01), rgb(0, 0, 0)),
    url("https://unread.today/files/fb0f77dd-ca16-4803-8f17-83cccdc85cb1/4d22907ce24bb003211938e803c94e75_square.jpg");
  width: 293.79px;
  height: 433.91px;
  background-position: center;
  border-radius: 9px;
  cursor: pointer;
}

.listed-image-alphabet:hover {
  transform: scale(1.1);
  transition: 0.3s;
  cursor: pointer;
}

.listed-image-tech {
  background-image: linear-gradient(rgba(0, 0, 0, 0.01), rgb(0, 0, 0)),
    url("https://unread.today/files/007afc64-288a-4208-b9d7-3eda84011c1d/c32087273f9380ea1e5d1b6fcbabb98a_square.jpg");
  width: 293.79px;
  height: 433.91px;
  background-position: center;
  border-radius: 9px;
}

.listed-image-tech:hover {
  transform: scale(1.1);
  transition: 0.3s;
  cursor: pointer;
}

.listed-image-newspaper {
  background-image: linear-gradient(rgba(0, 0, 0, 0.01), rgb(0, 0, 0)),
    url("https://unread.today/files/ab36d712-71ff-4ad9-896e-6ebb29ee892b/25ff02cc9e29ceec81d0895c1e680a05_square.jpg");
  width: 293.79px;
  height: 433.91px;
  background-position: center;
  border-radius: 9px;
}

.listed-image-newspaper:hover {
  transform: scale(1.1);
  transition: 0.3s;
  cursor: pointer;
}

.listed-image-ios {
  background-image: linear-gradient(rgba(0, 0, 0, 0.01), rgb(0, 0, 0)),
    url("https://unread.today/files/007afc64-288a-4208-b9d7-3eda84011c1d/2a7768a3887baa7c457da0c416e055b3_square.jpg");
  width: 293.79px;
  height: 433.91px;
  background-position: center;
  border-radius: 9px;
}

.listed-image-ios:hover {
  transform: scale(1.1);
  transition: 0.3s;
  cursor: pointer;
}

.listed-image-text {
  margin-top: 300px;
  font-weight: bold;
  margin-left: 20px;
  position: relative;
}

.blue-button {
  background-color: #0078f6;
  top: 100px;
  position: absolute;
  font-size: 10px;
  font-weight: 500;
  padding: 6px 11px;
  border-radius: 20px;
}

.content {
  width: 1116px;
  height: 1400px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.content-container {
  width: 739px;
  height: 183px;
  display: flex;
  justify-content: space-around;

  background-color: #ffff;
  border-radius: 27px;

  box-shadow: 0px 0px 50px 4px rgba(209, 209, 209, 0.3);
}

.content-container-text {
  margin-top: 18px;
  margin-left: -170px;
}

.content-container-box-two {
  align-self: end;
}

.content .content-container .content-container-box-two {
  border-top-right-radius: 27px;
}

.content-container-box-two {
  border-top-right-radius: 27px;
}

.content-container-box-four {
  align-self: end;
}

.author-of-content-two {
  display: flex;
  font-size: 11.8px;
  margin-top: 54px;
  flex-direction: row-reverse;
}
.author-of-content-two .author-name {
  text-align: end;
}

.author-of-content-four {
  display: flex;
  font-size: 11.8px;
  margin-top: 54px;
  flex-direction: row-reverse;
}

.author-of-content-four .author-name {
  text-align: end;
}

.author-of-content-six {
  display: flex;
  font-size: 11.8px;
  margin-top: 54px;
  flex-direction: row-reverse;
}
.author-of-content-six .author-name {
  text-align: end;
}

.dot {
  margin-left: -50px;
  margin-top: 18px;
}
.dot-title {
  color: #0078f6;
}
.author-content-photo {
  margin-top: 20px;
}
